.button-group {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button-group button {
  border-radius: 10px;
  border: none;
  background-color: blanchedalmond;
  margin: 1rem;
}

.button-group div {
  width: 100vw;
  height: 100vh;
}
